@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Patrick Hand', cursive;
}

  
*{
    margin: 0px;
    padding: 0px;
}

html, body{
min-height: 100vh;
background-color: darkgray;
font-family: var(--fonte1);



}

header{
background-color: black;
color: white;
text-align: center;


}

header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
    color: lightblue;
}
header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte3);
    padding-top: 10vh; 
    padding-bottom: 10vh;
    line-height:  2em;
    padding-left: 20px;
    font-size: 3.5vw;

}
section > p{
    padding-bottom: 2em;
} 
section.normal{
    background-color: white;
    color: black;


}
section.normal > p{
    padding-left: 10px;

}

section.imagem{
    background-color: rgb(46, 49, 52);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(21, 26, 22, 0.704);
    
}

section.imagem > p{
     display: inline-block;
     background-color: rgba(0, 0, 0, 0.293);
     padding: 10px;
     text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.452);

}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 2px 1px 1px rgba(243, 238, 238, 0.452);
}
section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

footer{
     background-color: black;
     color: white;
     text-align: center;
     padding: 10px;

}

