@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(152, 219, 197, 0.416);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(96, 224, 224, 0.696);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.448);
    width: 400px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
p{
    text-align: justify;
}
main{
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.478);
    
}
main > h2{
    color: blue;
    padding: 10px;
    background-image: linear-gradient(to right,rgb(222, 133, 31), rgb(216, 183, 123), rgba(225, 177, 88, 0.434));
}
table{
    border-collapse: collapse;
    position: relative;
    
}
td,th{
    border: 1px solid black;
    padding: 5px;
}
.nomes{
    background-color: rgb(127, 161, 255);
}
#container{
    overflow-x: auto;
}
tbody > tr:nth-child(even){
    background-color: lightgrey;
    font-size: bold;
}
section{
    background-color: aquamarine;
    margin: 10px;
    margin-top: 30px;
    width:400px;
    height:650px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.521);
}
thead > tr > th {
    position: sticky;
    top: 0;
    background-color: rgb(127, 161, 255);
}
