@charset "UTF-8";

/*todas as demais medias*/ 
/*Typical Device Breakpoint
Pequenas telas: ate 600px
Celular de 600px até 768px
Tablet 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px
*/

@media print {/*impressão*/
    *{
        font-family: 'Courier New', Courier, monospace;
        color: black;
        
    }
    main > h1{
        color: black;
        text-shadow: none;
    }
    main{
        border: 2 
    }
    main::after{
        text-align: center ;
        content: 'Site feito por Fabio Laureano.';
    }

    #fone{display: none;}
    #tablet{display: none;}
    #impressora{display: block;}
    #pc{display: none;}
    #tv{display: none;}
   main {
    border: 1px solid black;
   }
}

@media screen and (min-width: 768px) and (max-width: 992px) {/*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
        
    }
    #fone{display: none;}
    #tablet{display: block;}
    #impressora{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){/*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
        
    }
    #fone{display: none;}
    #tablet{display: none;}
    #impressora{display: none;}
    #pc{display: block;}
    #tv{display: none;}

}

@media screen and (min-width: 1200px){/*telões*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #fone{display: none;}
    #tablet{display: none;}
    #impressora{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}