@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: #30E7FD;
}

header{
    background-color: #3D82FA;
}

header > h1{
    padding: 10px;
    text-align: center;
}
#burger{
    background-color: #19258b;
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}
#burger:hover{
    color: #19258b;
    background-color: aqua;
}

menu{
    display: none;
    
}
menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #2B3EE3;
    color: white;
    border-top: 2px solid #2B9FE3;
}
li a:hover{
    background-color: #10044e;
    transition: .5s;
}
main{
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.918);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

